<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% load endless %}

{% paginate 2 entries %}
<table>

{% for entry in entries %}
    <tr>
       <td> {{ entry.username }}</td>
    </tr>
{% endfor %}
</table>
<!--{% show_pages %}-->

{% get_pages %}
{{ pages.previous }} {{ pages.next }}

{{ pages.current_start_index }}-{{ pages.current_end_index }} of
{{ pages.total_count }}.
{# Just print pages to render the Digg-style pagination. #}
{{ pages }}
</body>
</html>